* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  /* Primary */

  --Soft-Cyan-Full-Slider-Bar: hsl(174, 77%, 80%);
  --Strong-Cyan-Slider-Background-active: hsl(174, 66%, 41%);
  --Strong-Cyan-Slider-Background: hsl(174, 86%, 45%);
  --Toggle-Active-Background: hsl(174, 73%, 70%);
  --Light-Grayish-Red-Discount-Background: hsl(14, 92%, 95%);
  --Light-Red-Discount-Text: hsl(15, 100%, 70%);
  --Light-Red-Discount-Text-background: hsl(14, 92%, 95%);
  --Pale-Blue-CTA-Text: hsl(226, 100%, 87%);

  /* Neutral */

  --White-Pricing-Component-Background: hsl(0, 0%, 100%);
  --Very-Pale-Blue-Main-Background: hsl(230, 100%, 99%);
  --Light-Grayish-Blue-Empty-Slider-Bar: hsl(224, 65%, 95%);
  --Light-Grayish-Blue-Toggle-Background: hsl(223, 50%, 87%);
  --Grayish-Blue-Text: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue-Text-CTA-Background: hsl(227, 35%, 25%);
}

html {
  font-size: 15px;
}

body {
  margin: 0;
  background-image: url(images/bg-pattern.svg);
  background-repeat: no-repeat;
  color: var(--Grayish-Blue-Text);
  background-color: white;
}

.header-container {
  margin: 6em 1.5em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container img {
  position: absolute;
  z-index: -1;
}

.header {
  font-size: 1.25rem;
  color: var(--Dark-Desaturated-Blue-Text-CTA-Background);
}

.sub-heading {
  margin-top: 0;
  font-size: 0.85rem;
  width: 55%;
  line-height: 23px;
}

.main-container {
  margin: 4.25em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--White-Pricing-Component-Background);
  box-shadow: 0px 16px 16px 0px var(--Light-Grayish-Blue-Empty-Slider-Bar);
}

.pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Light-Grayish-Blue-Empty-Slider-Bar);
  width: 100%;
}

.pageviews {
  font-size: 0.8rem;
  letter-spacing: 1.71px;
  margin: 2.25em auto 0;
  text-transform: uppercase;
  text-align: center;
}

.pricing-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-container {
  width: 85.55%;
  margin: 2.74em auto 2.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider {
  margin-bottom: 1.6em;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  -webkit-appearance: none !important;
  background: var(--Light-Grayish-Blue-Empty-Slider-Bar);
  /* background: linear-gradient(
    90deg,
    var(--Soft-Cyan-Full-Slider-Bar) 50%,
    var(--Light-Grayish-Blue-Empty-Slider-Bar) 50%
  ); */
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  background: var(--Strong-Cyan-Slider-Background);
  border-radius: 50%;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  box-shadow: 0px 8px 16px 0px var(--Strong-Cyan-Slider-Background);
  border: none;
}

.slider::-webkit-slider-thumb:active {
  cursor: grabbing;
  background: var(--Strong-Cyan-Slider-Background-active);
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none !important;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  position: relative;
  background: var(--Strong-Cyan-Slider-Background);
  border-radius: 50%;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  box-shadow: 0px 8px 16px 0px var(--Strong-Cyan-Slider-Background);
  border: none;
}

.slider::-moz-range-thumb:active {
  cursor: grabbing;
  background: var(--Strong-Cyan-Slider-Background-active);
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.progress-bar {
  width: 47.5%;
  background: var(--Soft-Cyan-Full-Slider-Bar);
  position: absolute;
  top: 0.11em;
  left: 0em;
  height: 8px;
  border-radius: 5px;
  height: 8px;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  margin-bottom: 2.25em;
}

.billing {
  display: flex;
  font-size: 0.8em;
  margin-bottom: 2.53em;
  width: 90%;
  max-width: 297px;
  transform: translateX(30px);
}

.per-month {
  font-size: 0.93rem;
  color: var(--Grayish-Blue-Text);
}

.price-amount {
  font-weight: 800;
  font-size: 2rem;
  color: var(--Dark-Desaturated-Blue-Text-CTA-Background);
}

.monthly-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.yearly {
  display: flex;
  width: 55%;
  justify-content: space-evenly;
  align-items: center;
}

.yearly::after {
  content: "25%";
  color: var(--Light-Red-Discount-Text);
  background: var(--Light-Red-Discount-Text-background);
  border-radius: 9.5px;
  padding: 0.1em 0.75em;
  position: relative;
  right: 10px;
}

input[type="checkbox"] {
  width: 43px;
  height: 22px;
  -webkit-appearance: none;
  background: var(--Light-Grayish-Blue-Toggle-Background);
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transform: translateY(3px);
}

input:checked[type="checkbox"] {
  background: var(--Toggle-Active-Background);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background: #fff;
  transition: 0.25s;
}

input:checked[type="checkbox"]::before {
  left: 25px;
}

.list {
  margin: 1.6em auto 2.3em;
  font-size: 0.8em;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 0.73em;
}

li::before {
  content: url(images/icon-check.svg);
  position: relative;
  right: 1.07em;
}

.btn {
  color: var(--Pale-Blue-CTA-Text);
  background-color: var(--Dark-Desaturated-Blue-Text-CTA-Background);
  width: 170px;
  margin-bottom: 2.13em;
  border-radius: 20.5px;
  padding: 1em;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
}

/* footer  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 575px) {
  .main-container {
    margin: 4.25em auto;
    width: 540px;
    height: 397px;
  }

  .pricing-component {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    height: 100%;
  }

  .pageviews {
    grid-area: 1;
    margin: 1.5em auto 1.5em;
    transform: translateX(-1.25em);
    align-self: center;
    font-size: 0.93rem;
  }

  .pricing {
    grid-column-start: 2;
    margin: 1em auto 1em;
    font-size: 2.7rem;
    display: flex;
    gap: 0;
    width: 180px;
    justify-content: space-evenly;
  }

  .slider-container {
    margin-top: 0;
    grid-row-start: 2;
    grid-column: span 2;
    width: 444px;
    justify-self: center;
  }

  .slider {
    width: 100%;
  }

  .progress-bar {
    left: 0em;
    top: 0.13em;
  }

  .cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .monthly-container {
    justify-content: space-evenly;
  }

  .billing {
    min-width: 375px;
  }

  .yearly {
    justify-content: space-between;
    width: 175px;
    align-items: center;
  }

  .yearly::after {
    content: "25% discount";
    font-size: 0.7rem;
    transform: translateY(0.2em);
  }

  .list {
    margin: 1.3em 0;
  }

  ul {
    text-align: start;
  }

  .btn {
    margin: 0;
  }
}

@media (max-width: 338px) {
  .billing {
    margin-bottom: 2.53em;
    width: 90%;
    max-width: 297px;
    transform: unset;
    justify-content: center;
    align-items: center;
  }
}
